In [8]:
import numpy as np
import pandas as pd
import cv2
import easyocr

import os
from glob import glob
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

### Converting DataFrame to csv

In [48]:
allMenus = pd.DataFrame(columns=['id', 'text'])

imgPath = "./images/005.jpg"

image = cv2.imread(imgPath)
_, filename = os.path.split(imgPath)

reader = easyocr.Reader(['en', 'ch_tra'])
results = reader.readtext("./images/005.jpg")

columns = ['bounding_box', 'text', 'confidence']
data = [(result[0], result[1], result[2]) for result in results]
df = pd.DataFrame(data, columns=columns)
df['confidence'] = df['confidence'].round(2)

Neither CUDA nor MPS are available - defaulting to CPU. Note: This module is much faster with a GPU.

In [44]:
df

,bounding_box,text,confidence
0,"[[822, 546], [1126, 546], [1126, 654], [822, 6...",前菜小食,0.85
1,"[[1697, 418], [2431, 418], [2431, 648], [1697,...",蠲N0[,0.05
2,"[[778, 631], [1167, 631], [1167, 711], [778, 7...",Appetizers & Snacks,0.80
3,"[[1470, 636], [1994, 636], [1994, 765], [1470,...",t.42~7,0.00
4,"[[2960, 641], [3298, 641], [3298, 731], [2960,...",包孚-餒子,0.05
...,...,...,...
93,"[[2341.980558500954, 2529.087239305534], [2423...",Sag0,0.18
94,"[[2412.00019994002, 2537.100979706098], [2492....",Soup,1.00
95,"[[2770.8669156380993, 2577.107961318116], [285...",Mung,1.00
96,"[[2925.887552844813, 2586.1040300775094], [300...",Soup,1.00
97,"[[3470.019419324309, 2622.0970966215455], [355...",Plum,0.82

In [49]:
desiredText = df.query('confidence >= .3')

menu = pd.DataFrame()
menu['text'] = desiredText['text']
menu['id'] = filename

allMenus = pd.concat((allMenus, menu))

In [50]:
allMenus.to_csv('menu.csv', index=False)

In [40]:
menu

                   text       id
0                  前菜小食  005.jpg
2   Appetizers & Snacks  005.jpg
6      Dumplings & Baos  005.jpg
7                     2  005.jpg
8                     2  005.jpg
..                  ...      ...
92                 Vege  005.jpg
94                 Soup  005.jpg
95                 Mung  005.jpg
96                 Soup  005.jpg
97                 Plum  005.jpg

[80 rows x 2 columns]

In [33]:
filename

'005.jpg'